body {
    font-size: 0.9rem;
    scroll-behavior: smooth;
}

.title {
    transform: translateX(175%);
    margin: auto;
    font-weight: 400;
}

.utility {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
}

a:hover {
    text-decoration: none;
}


.p-relative {
    position: relative;
    display: inline-block;
}



.p-relative::after {
    content: 'v';
    font: 1.2rem Consolas, monospace;
    padding-bottom: 2px;
    font-weight: 400;
    color: #fff;
    right: -9px;
    top: 0px;
    border-radius: 10px;
    background-color: rgba(17, 83, 253, 1);
    box-sizing: border-box;
    position: absolute;
    pointer-events: none;
    width: 36px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label {
    text-align: right;
    font-weight: 400;
    width: 80px;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.full-input {
    width: 100%;
}

.three {
    width: auto;
}

select.dropdown {
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 40px;
    padding-left: 7px;
    background: #fff;
    color: #444;
    border: 1px solid #ced4da;
    border-radius: 5px;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    outline: none;
}

select.dropdown:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #444;
}

select.dropdown::-ms-expand {
    display: none;
}

.btn__group {
    border: 1px solid #efefef;
    border-radius: 10px;
    display: inline-block;
}

.btn__group .ck-button:first-child {
    margin-left: 0;
}

.btn__group .ck-button:last-child {
    margin-right: 0;
}

.btn__group .ck-button:not(:last-child)::after {
    content: ' ';
    width: 6px;
    height: 36px;
    background: #efefef;
    border-radius: 5px;
    position: absolute;
    right: -14px;
    top: 2px;
}

.btn-round {
    background: white;
    border-radius: 50%;
    font-size: 1rem;
}


.ck-button:hover {
    background: gray;
    color: #fff;
    cursor: pointer;

}

.submit {
    border-radius: 30px;
    width: 250px;
    height: 50px;
}

.dropdown-menu {
    min-width: auto;
}

/*  */

.ck-button {
    margin: 0 10px;
    background-color: #efefef;
    border-radius: 8px;
    border: none;
    overflow: visible;
    float: left;
    position: relative;
    cursor: pointer;
}

.ck-button label {
    margin: 0;
}

.ck-button span {
    text-align: center;
    padding: 0.5rem;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
}

.ck-button label input {
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: -1;
}

.ck-button input:checked+span {

    background-color: #3069fd;
    color: #fff;
}



.ck-button-box,
.ck-button-box span {
    width: 5rem;
    height: 2.5rem;
}

/*  */

@media screen and (min-width: 576px) {


    .three {
        width: 14vw;
    }

    .full-input {
        width: calc(100%);
    }
}

.course_credit,
.course_syllabus,
.add_to_list,
.course_detail {}

.rwd-table {
    background: #fff;
    overflow: hidden;
    font-size: 0.8rem;

}

.rwd-table tr:nth-of-type(2n) {
    background: #eee;
}

.rwd-table th,
.rwd-table td,
.timetable th,
.timetable td {
    margin: 0.5em 1em;
}

.rwd-table {
    min-width: 100%;
}

.timetable {
    table-layout: fixed;
    min-width: 100%;
}

.rwd-table th,
.timetable th {
    display: none;
}

.rwd-table td,
.timetable td {
    display: block;
}

.rwd-table td:before {
    content: attr(data-th);
    font-weight: bold;
    width: 10em;
    display: inline-block;
}



.rwd-table th,
.rwd-table td {
    text-align: left;
}

.rwd-table th,
.timetable th,
.rwd-table td:before {
    text-align: center;
    color: #3069fd;
    font-weight: bold;
}

.timetable th,
.timetable td {
    text-align: center;
    display: table-cell;
}

.order,
.course_year_semester,
.course_name,
.course_name,
.teacher_name,
.course_time,
.course_credit,
.course_unit,
.course_syllabus,
.btn-round,
.add_to_list,
.course_detail {
    text-align: center;

}

.course_info {
    text-align: left;
}

@media (min-width: 900px) {
    .rwd-table td:before {
        display: none;
    }

    .rwd-table th,
    .rwd-table td {
        display: table-cell;
        padding: 0.25em 0.5em;
    }

    .rwd-table th:first-child,
    .rwd-table td:first-child {
        padding-left: 0;
    }

    .rwd-table th:last-child,
    .rwd-table td:last-child {
        padding-right: 0;
    }

    .rwd-table th,
    .rwd-table td {
        padding: 1em !important;
    }
}

/*timetable*/

.timetable {
    font-size: 0.5rem;
}

.timetable_course {
    color: black;
}